@import url('https://fonts.googleapis.com/css?family=Exo&subset=latin-ext,vietnamese');

html, body {
	margin: 0;
	font-family: 'Exo', sans-serif;
	color: white;
}
body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00001a+0,00001a+18,7416f7+100 */
	background: #00001a; /* Old browsers */
	background: -moz-linear-gradient(top, #00001a 0%, #00001a 18%, #7416f7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #00001a 0%,#00001a 18%,#7416f7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #00001a 0%,#00001a 18%,#7416f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00001a', endColorstr='#7416f7',GradientType=0 ); /* IE6-9 */
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2.5em 0;
	background-color: #090032;
	opacity: 0.67;
}
#logo {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
#topLinks {
	color: black;
	font-size: 2em;
	padding-left: 12ch;
	margin: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,54bef7+100 */
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(left, #feffff 0%, #54bef7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #feffff 0%,#54bef7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #feffff 0%,#54bef7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#54bef7',GradientType=1 ); /* IE6-9 */
	display: flex;
	flex-direction: row;
}
#topLinks > li {
	display: inline-block;
	flex: 1 1 auto;
}
#gallery {
	height: 100vh;
}

.gallery_img {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s ease-in-out 2s, opacity 2s ease-in-out;
	height: 100%;
	z-index: -1;
}
.gallery_img.active {
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
}

.gallery_desc {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1em;
	background-color: rgba(0,0,0,0.45);
	border-radius: 0.5em;
	width: 50%;
	height: 30%;
	transition: visibility 0s ease-in-out 2s, opacity 2s ease-in-out;
	opacity: 0;
	visibility: hidden;
}
.gallery_desc.active {
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
}